.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex !important;
}

.justify-center {
  justify-content: center !important;
}

.ease-transition {
  transition: all 200ms ease !important;
}

.chat-area {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 96vh;
  margin: 5px;
  padding: 10px;
  border: 1px solid;
  border-radius: 1rem;
}

.message-area {
  min-width: 400px;
  min-height: 400px;
  overflow: auto;
  height: calc(100% - 100px);
  border: 1px solid;
  border-radius: 1rem;
}

.input-area form {
  width: 100%;
  display: flex;
}

input[type="text"] {
  flex: 1;
}

input[type="submit"] {
  width: 120px;
  background-color: dodgerblue;
  border: none;
  height: 30px;
  text-transform: uppercase;
  color: aliceblue;
  cursor: pointer;
  transition: all 200ms ease;
}

input[type="submit"]:hover {
  background-color: rgb(23, 114, 204);
}

input {
  padding: 5px;
  margin: 5px;
  border-radius: 1rem;
}

.users-area {
  display: flex;
  flex-direction: column;
  height: 96vh;
  margin: 5px;
  padding: 10px;
  border: 1px solid;
  border-radius: 1rem;
  width: 340px;
}

.users-list {
  height: calc(100% - 150px);
  border: 1px solid;
  border-radius: 1rem;
}

.change-name-form {
}
